#footer {
    text-align: center;
}
.social-icons{
    padding: 8px;
}
.social-icons a {
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
    color: #fffbef;
}
/* .fa-facebook:hover,.fa-instagram:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
} */
/* .fab {
    color: #000000;
} */
